body {
  background: #ddca7d;
  color: #242331;
}

a {
  color: #b88b4a;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
